{% macro window(width=200, height=200, bg="lime") %}
    <div class="window-container" style="width: {{ width }}px; height: {{ height }}px; perspective: 8000px;">
        <div
            class="window"
            style="width: {{ width }}px; height: {{ height }}px; position: relative; transform-style: preserve-3d; transform:
                rotateX(-20deg) rotateY(0deg);">
            <!-- Front Face -->
            <div
                class="face front"
                style="position: absolute; width: 100%; height: 100%; background-color: {{ resolved_bg }}; border: 2px solid black;
                    transform: translateX(162px) translateZ({{ width / 2 }}px) skewX(0deg);">
                {% if caller %}
                    {{ caller() }}
                {% endif %}
            </div>
            <!-- Back Face -->
            <div
                class="face back"
                style="position: absolute; width: 100%; height: 100%; background-color: white; border: 2px solid black; border-bottom:
                    none; transform: translateX(-41px) translateZ(-{{ width / 2 }}px) skewX(-0.5deg);">
            </div>
            <!-- Top Face -->
            <div
                class="face top"
                style="position: absolute; width: 100%; height: 100%; background-color: white; border: 3px solid black; transform:
                    rotateX(90deg) translateZ({{ height / 2 }}px) skewX(22deg);">
            </div>
            <!-- Bottom Face -->
            <div
                class="face bottom"
                style="position: absolute; width: 100%; height: 100%; background-color: white; border: 3px solid black; border-bottom:
                    none; transform: rotateX(-90deg) translateZ({{ height / 2 }}px) skewX(-23deg);">
            </div>
        </div>
    </div>
{% endmacro %}